[submodule "src/Libraries/rpi-rgb-led-matrix"]
	path = src/Libraries/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "src/Libraries/rpi-ws281x-csharp"]
	path = src/Libraries/rpi-ws281x-csharp
	url = https://github.com/rpi-ws281x/rpi-ws281x-csharp.git
